In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import TimeSeriesSplit
from datetime import datetime, timedelta

In [2]:
data = pd.read_csv('ticker_data_lite_with_TI.csv')

In [3]:
data = data.reset_index(drop=True)
# data = data.drop('time',axis=1)
data = data.drop('ticker',axis=1)
data = data.drop('industry',axis=1)

In [4]:
data = data.drop('open',axis=1)
data = data.drop('high',axis=1)
data = data.drop('low',axis=1)
data = data.drop('MA10',axis=1)
data = data.drop('MA50',axis=1)
data = data.dropna()

In [5]:
# plt.figure(figsize=(12,6))
# corrMatrix = data.corr()
# sns.heatmap(corrMatrix, annot=True)

In [6]:
data.head()

,time,close,volume,MA20,MA200,rsi,macd,upper_band,lower_band,RS
240,2020-10-07,10440,5770720,9777.0,8231.685,75.829384,410.556537,10743.667635,8810.332365,20.949604
241,2020-10-08,10440,4663470,9835.5,8240.935,73.711340,405.356067,10814.510779,8856.489221,20.705268
242,2020-10-09,10530,3870610,9901.5,8250.135,73.298429,403.841669,10880.936465,8922.063535,24.386259
243,2020-10-12,10440,4849320,9963.0,8258.735,69.387755,390.873504,10913.658498,9012.341502,21.527130
244,2020-10-13,10260,4374250,10014.0,8266.435,61.951220,361.899887,10909.165965,9118.834035,20.151649

In [7]:
# Your dataset
data = data

# Convert the 'time' column to datetime
data['time'] = pd.to_datetime(data['time'])

# Define the number of test sets and the number of days for training before each test set
num_test_sets = 60
test_set_size = 21
training_window = 126  # 6 months

# Split data into multiple time series cross-validation sets
tscv = TimeSeriesSplit(n_splits=num_test_sets)

# Create a list to store the train-test splits
train_test_splits = []

# Start date for the data
start_date = datetime(2016, 1, 1)

# Generate train-test splits
for train_index, test_index in tscv.split(data):
    # Define the date ranges for each train and test set
    train_start_date = start_date + timedelta(days=training_window)
    train_end_date = start_date + timedelta(days=training_window + int(train_index[-1]) + 1)
    test_start_date = train_end_date + timedelta(days=1)
    test_end_date = test_start_date + timedelta(days=int(test_index[-1]) + 1)

    # Split the data into train and test sets
    train_set = data[(data['time'] >= train_start_date) & (data['time'] <= train_end_date)]
    test_set = data[(data['time'] >= test_start_date) & (data['time'] <= test_end_date)]

    train_test_splits.append((train_set, test_set))

    # Move the start date for the next iteration
    start_date = test_start_date

In [ ]:
train_test_splits[0]

NameError: name 'train_test_split' is not defined